{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Navbar -->
{% block navigation %}
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{% url "Profile:index" %}">About me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
  </li>
  {% if user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url "Blog:Logout" %}">Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link sign-up">Sign up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link log-in">Log in</a>
  </li>
  {% endif %}

{% endblock %}

<!-- Heading Text -->
{% block heading_text %}{{ blurb }}{% endblock %}

<!-- Main content -->
{% block content %}

  <!-- Sign up form -->
  <div class="bg-modal signup"
    {% if pw_mismatch or user_exists or invalid_fields %}
    style="display:flex"
    {% endif %}
    >
    <div class="modal-content-signup">
      <div class="close">+</div>
      <div class="login-brand">
        <h2 class="blog-brand">Call of Cthoder</h2>
      </div>
      <div class="registration-error">
        {% if pw_mismatch %}
          <p style="color:red">Passwords do not match.</p>
        {% elif user_exists %}
          <p style="color:red">That user already exists.</p>
        {% elif invalid_fields %}
          <p style="color:red">Make sure all fields are valid.</p>
        {% endif %}
      </div>
      <div class="container">
        <div class="login-form">
          <form class="" action="{% url "Blog:Registration" %}" method="POST">
            {% csrf_token %}
            {{ registration_form|crispy }}
            <div class="login-submit-form"><input class="btn btn-primary" type="submit" name="" value="Submit"></div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Log-in form -->
  <div class="bg-modal login"
  {% if login_error %}
    style="display:flex"
  {% endif %}
  >
    <div class="modal-content">
      <div class="close">+</div>
      <div class="login-brand">
        <h2 class="blog-brand">Call of Cthoder</h2>
      </div>
      {% if login_error %}
      <div class="login-error">
          <p style="color:red">Make sure all fields are valid.</p>
      </div>
      {% endif %}
      <div class="login-form">
        <form class="" action="{% url "Blog:Login" %}" method="POST">
          {% csrf_token %}
          {{ login_form|crispy }}
          <div class="login-submit-form"><input class="btn btn-primary" type="submit" name="" value="Submit"></div>
        </form>
      </div>
      </div>
  </div>

  <!-- blog posts -->
  {% if blogposts|length == 0 %}
    <div class="container blog-container">
      <div class="title_date">
        <div class="post_title">
          <h1>The Call of Cthulhu</h1>
        </div>
        <div class="post_date">
          <h4>June 24, 1994</h4>
        </div>
      </div>
      <div class="post_image_wrapper">
        <img class="post_image" src="https://i.imgur.com/Wu7uIaO.jpg" alt="">
      </div>
      <div class="photo_subtitle">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="post_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>

  {% else %}

    {% for blogpost in blogposts %}
      <div class="container blog-container">
        <div class="title_date">
          <div class="post_title">
            <h1>{{ blogpost.title }}</h1>
          </div>
          <div class="post_date">
            <h4>{{ blogpost.posted_at }}</h4>
          </div>
        </div>
        <div class="post_image_wrapper">
          <img class="post_image" src="{{ blogpost.photo.url }}" alt="">
        </div>
        <div class="photo_subtitle">
          <p class="subtitle">{{ blogpost.photo_subtitle }}</p>
        </div>
        <div class="post_body">
          {{ blogpost.body|safe }}
        <hr>
        <h2>Join the discussion:</h2>
        <div class="text-editor">
          {% if user.is_authenticated %}
            <form class="comment-form" enctype="multipart/form-data" action="{% url "Blog:Blog_index" %}" method="post">
              {{ form.media }}
              {{ form|crispy }}
              {% csrf_token %}
              <div class="submit-comment">
                <input class="btn btn-primary comment-submit" type="submit" name="" value="Submit">
              </div>
            </form>
          {% else %}
            <p>Log in or Sign up to vote and leave comments.</p>
            <div class="row">
              <input class="btn btn-primary sign-up-btn" type="submit" name="" value="Sign up">
              <input class="btn btn-primary log-in-btn" type="submit" name="" value="Log in">
            </div>
          {% endif %}
        </div>

          <div class="comments-section">
          <!-- Comment Section  -->
          {% if blogpost.comments.all|length == 0 %}
              <hr>
              <div class="comments">
                <div class="comment-name-date">
                  <h6><strong>Cthulhu</strong> | June 24, 1994</h6>
                </div>
                <div class="comment-body">
                  Be the first to submit a comment!
                </div>
                <div class="vote-reply-score">
                  0
                  <a href="#"><i class="fas fa-chevron-up"></i></a>
                  |
                  <a href="#"><i class="fas fa-chevron-down"></i></a>
                  <a href="#">Reply</a>
                </div>
              </div>
          {% else %}
            {% include "Blog/comments.html" %}
          {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

  {% endif %}

<div class="pagination">

  {% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span>&laquo;</span></li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <div class="current-page-num">
          <li><a href="?page={{ i }}"><span id="num">{{ i }}</span></a></li>
        </div>
        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
      <div class="page-num">
          <li><a href="?page={{ i }}"><span id="num">{{ i }}</span></a></li>
      </div>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}

</div>

{% endblock %}
