{% load staticfiles %}
{% load crispy_forms_tags %}

{% if commented %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
<script>hljs.initHighlighting();</script>
<script src="{% static "base/js/vote.js" %}" charset="utf-8"></script>
<script src="{% static "base/js/delete_comment.js" %}" charset="utf-8"></script>
<script src="{% static "base/js/edit_comment.js" %}" charset="utf-8"></script>
<script src="{% static "base/js/reply.js" %}" charset="utf-8"></script>
<script src="{% static "base/js/reply_secondary.js" %}" charset="utf-8"></script>


  {% for comment in comments %}
    {% if not comment.is_reply %}
      <hr>
      <div class="comments">
        <div class="comment-name-date">
          <h6><strong>{{ comment.user }}</strong> | {{ comment.comment_date }}</h6>
        </div>
        <div class="comment-body" comment-id="{{ comment.pk }}" >
          {{ comment.body|safe }}
        </div>
        <div class="vote-reply-score">
          <span class="score" data-id="{{ comment.pk }}" >{{ comment.score }}</span>
            <a class="upvote" comment-id="{{ comment.pk }}" href="{% url "Blog:Vote" comment_pk=comment.pk vote_type="upvote" %}"><i class="fas fa-chevron-up"></i></a>
            |
            <a class="downvote" comment-id="{{ comment.pk }}" href="{% url "Blog:Vote" comment_pk=comment.pk vote_type="downvote" %}"><i class="fas fa-chevron-down"></i></a>
            <a class="reply" comment-id="{{ comment.pk }}" ><u>Reply</u></a>
            {% if user == comment.user %}
            <span class="change-comment" comment-id="{{ comment.pk }}">
              <a class="edit_comment edit-parent" comment-id="{{ comment.pk }}" href="#"><u>Edit</u></a>
              <a class="delete_comment" comment-id={{ comment.pk }} href="{% url "Blog:Delete_comment" comment_pk=comment.pk %}"><u>Delete</u></a>
            </span>
            <span class="confirm-delete" comment-id="{{ comment.pk }}" style="display:none">
              Are you sure?
              <a class="confirm-delete-yes" comment-id="{{ comment.pk }}" href="{% url "Blog:Delete_comment" comment_pk=comment.pk %}">yes</a> /
              <a class="confirm-delete-no" comment-id="{{ comment.pk }}" href="#">no</a>
            </span>
            {% endif %}
        </div>
        <div class="reply-comment-form">
          <form class='reply-form' comment-id="{{ comment.pk }}" style="display:none" enctype="multipart/form-data" action="{% url "Blog:Reply" parent_comment_pk=comment.pk %}" method="post">
              {% csrf_token %}
              <div class="reply-text">
                <textarea name="reply_body" rows="8" cols="80"></textarea>
                <div class="reply-form-buttons">
                  <input class="btn btn-primary submit-reply" comment-id="{{ comment.pk }}" type="submit" name="" value="Submit">
                  <button class="btn btn-primary cancel-reply" comment-id="{{ comment.pk }}" type="button" name="">Cancel</button>
                </div>
              </div>
          </form>

          <form class='edit-parent-form' comment-id="{{ comment.pk }}" style="display:none" enctype="multipart/form-data" action="{% url "Blog:Update_comment" comment_pk=comment.pk %}" method="post">
              <div class="parent-editor" comment-id="{{ comment.pk }}">

                <textarea id="{{ comment.pk }}" name="edited-parent-comment" rows="8" cols="80"></textarea>

                <div class="edit-parent-form-buttons">
                  <input class="btn btn-primary submit-parent-edit" comment-id="{{ comment.pk }}" type="submit" name="" value="Submit">
                  <button class="btn btn-primary cancel-parent-edit" comment-id="{{ comment.pk }}" type="button" name="">Cancel</button>
                </div>
              </div>
              {% csrf_token %}
          </form>
        </div>

          <div class="replies" comment-id="{{ comment.pk }}" >
            {% include "Blog/replies.html" %}
          </div>

      </div>
    </div>
    {% endif %}
  {% endfor %}

{% else %}

  {% for comment in blogpost.comments.all %}
    {% if not comment.is_reply %}
      <hr>
      <div class="comments">
        <div class="comment-name-date">
          <h6><strong>{{ comment.user }}</strong> | {{ comment.comment_date }}</h6>
        </div>
        <div class="comment-body" comment-id="{{ comment.pk }}" >
          {{ comment.body|safe }}
        </div>
        <div class="vote-reply-score">
          <span class="score" data-id="{{ comment.pk }}" >{{ comment.score }}</span>
              {% if user.is_authenticated %}
              <a class="upvote" comment-id="{{ comment.pk }}" href="{% url "Blog:Vote" comment_pk=comment.pk vote_type="upvote" %}"><i class="fas fa-chevron-up"></i></a>
              |
              <a class="downvote" comment-id="{{ comment.pk }}" href="{% url "Blog:Vote" comment_pk=comment.pk vote_type="downvote" %}"><i class="fas fa-chevron-down"></i></a>
              <a class="reply" comment-id="{{ comment.pk }}" ><u>Reply</u></a>
              <span class="change-comment" style="display:''" comment-id="{{ comment.pk }}">
              {% if user == comment.user %}
                <a class="edit_comment edit-parent" comment-id="{{ comment.pk }}" href="#"><u>Edit</u></a>
                <a class="delete_comment" comment-id={{ comment.pk }} href="{% url "Blog:Delete_comment" comment_pk=comment.pk %}"><u>Delete</u></a>
              </span>
              <span class="confirm-delete" comment-id="{{ comment.pk }}" style="display:none">
                Are you sure?
                <a class="confirm-delete-yes" comment-id="{{ comment.pk }}" href="{% url "Blog:Delete_comment" comment_pk=comment.pk %}">yes</a> /
                <a class="confirm-delete-no" comment-id="{{ comment.pk }}" href="#">no</a>
              </span>
              {% endif %}
            {% else %}
              <a class="vote-unauth"><i class="fas fa-chevron-up"></i></a>
              |
              <a class="vote-unauth"><i class="fas fa-chevron-down"></i></a>
              <a class="vote-unauth"><u>Reply</u></a>
            {% endif %}
        </div>
        <div class="reply-comment-form">

            <form class='reply-form' comment-id="{{ comment.pk }}" style="display:none" enctype="multipart/form-data" action="{% url "Blog:Reply" parent_comment_pk=comment.pk %}" method="post">
                <div class="reply-text">
                  <textarea name="reply_body" rows="8" cols="80"></textarea>
                  <div class="reply-form-buttons">
                    <input class="btn btn-primary submit-reply" comment-id="{{ comment.pk }}" type="submit" name="" value="Submit">
                    <button class="btn btn-primary cancel-reply" comment-id="{{ comment.pk }}" type="button" name="">Cancel</button>
                  </div>
                </div>
                {% csrf_token %}
            </form>

            <form class='edit-parent-form' comment-id="{{ comment.pk }}" style="display:none" enctype="multipart/form-data" action="{% url "Blog:Update_comment" comment_pk=comment.pk %}" method="post">
                <div class="parent-editor" comment-id="{{ comment.pk }}">

                  <textarea id="{{ comment.pk }}" name="edited-parent-comment" rows="8" cols="80"></textarea>

                  <div class="edit-parent-form-buttons">
                    <input class="btn btn-primary submit-parent-edit" comment-id="{{ comment.pk }}" type="submit" name="" value="Submit">
                    <button class="btn btn-primary cancel-parent-edit" comment-id="{{ comment.pk }}" type="button" name="">Cancel</button>
                  </div>
                </div>
                {% csrf_token %}
            </form>

        </div>

          <div class="replies" comment-id="{{ comment.pk }}" >
            {% include "Blog/replies.html" %}
          </div>

      </div>
    {% endif %}
  {% endfor %}

{% endif %}
